* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.container input {
  height: 50px;
  width: 70px;
}

.result {
  height: 100%;
}

.result p {
  font-size: 20px;
  margin-bottom: 10px;
}
